extends layout

block scripts
  script(language='javascript', type='text/javascript', src="https://cdn.plot.ly/plotly-latest.min.js")
  script(language='javascript', type='text/javascript', src="/scripts/index.js", id="main", data-years=years, data-expenses=expenses)

block content
  h1= title
  div(ng-controller='MainController')
    p 年齢：
    select(ng-model="age", ng-options="a for a in ages")
    h2 賃貸
    p 家賃：
    input(tyoe='text' ng-model='rent')

    h2 ローン
    p 借入金額(万円)：
    input(tyoe='text' ng-model='loan')
    p 借入金利(年利)：
    input(tyoe='text' ng-model='rate')
    p 借入期間(年)：
    input(tyoe='text' ng-model='year')
    br
    br
    button(ng-click="onClick()") 送信

  #expenseGraph(style='width: 480px; height: 400px;')