doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript', type='text/javascript', src='/scripts/jquery.min.js')
    block scripts
  body
    block content
