extends layout

block scripts
  script(language='javascript', type='text/javascript', src="https://cdn.plot.ly/plotly-latest.min.js")
  script(language='javascript', type='text/javascript', src="/scripts/result.js", id="main", data-years=years, data-expenses=expenses)

block content
    h1 Tortie
    p 年齢： #{age}
    p 家賃： #{rent}
    
    #myDiv(style='width: 480px; height: 400px;')